body{
    background-color: #F0F0F2;
}
nav{
    background:#0C3054;
    height:100px;
    text-align: right;
    padding-right: 10px;
}
.boton{
    text-align: center;
    border-radius: 25px;
    background-color: #45A8B5;
    color:#F0F0F2;
    padding: 14px 20px;
    width: 70px;
    height: 17px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}
.boton:hover{
    background-color: #0C3054;
    color:#F0F0F2;
}