@media (width <= 450px) {
    nav{
        background:#0C3054;
        height:65px;
        text-align: right;
        margin-bottom:30px;
        width:100%;
    }

    .boton{
        text-align: center;
        border-radius: 25px;
        background-color: #45A8B5;
        color:#F0F0F2;
        width: 140px;
        height:50px;
        margin-top: 10px;
        text-decoration: none;
    }
    .boton:hover{
        background-color: #0C3054;
        color:#F0F0F2;
    }
    #ui_banco{
      width: 450px;
     /* background-image:url(https://res.cloudinary.com/djezosori/image/upload/v1728666017/AndroidH_Home_qiimde.png);*/
    }
    #ui_banco h2
    {
        text-align:center;
    }

    .title_box
    {
        text-align:center;
        padding:0 27% 0 27%;
    }
    .presentacion_profesional
    {
      margin:35px auto 0px auto;
        height:300px;
        width: 360px;
    }
    .nombre_profesional
    {
        height:50px;
        margin:0px 120px 0px 120px;
        text-align:center;
    }
    .especialidad_profesional
    {
        height:50px;
        margin:0px 120px 0px 120px;
        text-align:center;
    }
    .foto_profesional
    {
        height:200px;
    }
    .servicio
    {
      height: 430px;
      text-align: center;
    }
    .desarrollo_servicio
    {
      text-align: left;
      width:300px;
      margin: 5px auto 0px auto;
    }
    .imagen_servicio
    {
      border-radius:20px;
      margin: 5px auto 0px auto;
      display:flex;
      width:300px;
    }
    .texto_pie
    {
      height:30px;
      
      margin:auto;
    }
    .menu_pie
    {
      text-align:center;
      height: 185px;
      margin-top:65px;
    
    }
    .linea {
      border-top: 1px solid black;
      height: 2px;
      max-width: 175px;
      margin: 0 auto 0 auto;
    }
    
    .pie_contacto {
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos */
        margin-top: 30px;
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    #circle {
        background-image: url(https://raw.githubusercontent.com/Villegazs/Diseno_Adaptable/refs/heads/main/images/Foto_DraVictoriaMorales.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 50%;
        width: 20px; /* Ajusta el tamaño del círculo */
        height: 20px;
        margin-right: 10px; /* Espacio entre el círculo y el texto */
        margin-left: 10px;
       border: 1px solid black; 
    }
    
    .pie_contacto div {
        display: flex;
        align-items: center;
    }
    
    .pie_contacto div p {
        margin-left: 30px; /* Espacio entre el círculo y el texto */
    }

    .quien_soy
{
  height:430px;
}
.texto_quien
{
  padding:5px 15% 0 15%;
}
.alinear_texto
{
  text-align:center;
  margin:0;
}
.carrera_medica
{
  padding-top:30px;
  height:1040px;
}
.imagenes_quien
{
  margin:0px auto 0px auto;
}
.asociados
{
  height:230px;
  width:320px;
  margin:35px auto 0 auto;
}
.display_flex
{
  display:flex;
  justify-content:center;
   flex-wrap: wrap;
}
.img_asociado
{
  width:150px;
}
.ubicacion
{
  height:650px;
}
.mapa {
  margin: 35px auto 0 auto;
  height: 575px;
  width: 320px;
  border-radius: 60px;
  border: 1px solid black; /* Añade un borde sólido negro de 5px */
 }
  .pg_servicio
  {
    height:950px;
    width:280px;
    margin:0 auto 0 auto;
  }
  .service_box
  {
    margin:60px auto 0 auto;
    border:1px solid #0C3054;
    height:385px;
  }
  .content_service
  {
    width:240px;
    margin: 5px 5% 5px 5%;
    text-align:center;
  }
  .service_box h4
  {
    margin-top:30px;
    color:#45A8B5;
  }
  .one_service_box
  {
    text-align:center;
    width:330px;
    height: 900px;
    margin:0 auto 0 auto;
  }
  .one_service_box h2{
    padding-right:35%;
    padding-left:35%;
  }
  .one_service_box img
  {
    padding-top:40px;
    width:330px;
  }
  .one_service_box p
  {
    text-align:left;
    padding-top:30px;
    padding-right:10%;
    padding-left:10%;
    margin: 0 auto 0 auto;
  }
}

body{
    background-color: #F0F0F2;
}
/*nav{
    background:#0C3054;
    height:100px;
    text-align: right;
    padding-right: 10px;
}
.boton{
    text-align: center;
    border-radius: 25px;
    background-color: #45A8B5;
    color:#F0F0F2;
    padding: 14px 20px;
    width: 70px;
    height: 17px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
}
.boton:hover{
    background-color: #0C3054;
    color:#F0F0F2;
} */